body {
  width: 1366px;
  height: 768px;
  margin: auto;
  
}

header {
  height: 60px;
}

main {
  display: flex;
  flex-direction: inline-block;
}

#left-bar,
#right-bar {
  width: 203px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.main-logo {
  width: 150px;
}

.side-bar {
  background-color: #1a0a26;
}

footer {
  height: 60px;
}

h3 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 10px;
}

/* The board */

#game-field {
  position: relative;
  background-image: url(../img/kai-pilger-Ef6iL87-vOA-unsplash.jpg); /* Photo by Kai Pilger on Unsplash */
  background-repeat: no-repeat;
  overflow: hidden;
  width: 960px;
  height: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#start-space {
  position: absolute;
  background-color: palegreen;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: -100px;
  left: -100px;
}

#finish-space {
  position: absolute;
  background-color: rgba(252, 66, 66, 0.692);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: -100px;
  right: -100px;
}

/* the planets (not by Holst) */

.planet {
  position: absolute;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  transition: 1.25s;
  transition-delay: 0.5s;
  z-index: 4;
}

#world-one {
  height: 360px;
  width: 360px;
  background-color: seagreen;
  border-radius: 50%;
}

.one {
  transform: translate(-320px, -100px) scale(0.05);
  z-index: 1;
}

#world-two {
  height: 360px;
  width: 360px;
  background-color: rgb(167, 34, 149);
  border-radius: 50%;
}

.two {
  transform: translate(-140px, -260px) scale(0.05);
  z-index: 1;
}

#world-three {
  height: 360px;
  width: 360px;
  background-color: darkred;
  border-radius: 50%;
}

.three {
  transform: translate(-400px, 120px) scale(0.05);
  z-index: 1;
}

#world-four {
  height: 360px;
  width: 360px;
  background-color: orangered;
  border-radius: 50%;
}

.four {
  transform: translate(-220px, 140px) scale(0.05);
  z-index: 1;
}

#world-five {
  height: 360px;
  width: 360px;
  background-color: rgb(252, 211, 107);
  border-radius: 50%;
}

.five {
  transform: translate(-20px, -100px) scale(0.05);
  z-index: 1;
}

#world-six {
  height: 360px;
  width: 360px;
  background-color: lightskyblue;
  border-radius: 50%;
}

.six {
  transform: translate(220px, -180px) scale(0.05);
  z-index: 1;
}

#world-seven {
  height: 360px;
  width: 360px;
  background-color: rgb(173, 248, 192);
  border-radius: 50%;
}

.seven {
  transform: translate(60px, 100px) scale(0.05);
  z-index: 1;
}

#world-eight {
  height: 360px;
  width: 360px;
  background-color: blueviolet;
  border-radius: 50%;
}

.eight {
  transform: translate(200px, 280px) scale(0.05);
  z-index: 1;
}

#world-nine {
  height: 360px;
  width: 360px;
  background-color: grey;
  border-radius: 50%;
}

.nine {
  transform: translate(400px, 80px) scale(0.05);
  z-index: 1;
}

#world-ten {
  height: 360px;
  width: 360px;
  background-color: aqua;
  border-radius: 50%;
}

.ten {
  transform: translate(420px, -200px) scale(0.05);
  z-index: 1;
}

.final-choice {
  border: 1px solid black;
  box-shadow: 0 0 8px 10px rgb(155, 214, 238);
}

/* navigation choice halos */

.easy-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px lime;
}

.med-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px yellow;
}

.hard-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px orangered;
}

/* event card styling */

.card-container {
  position: absolute;
  height: 260px;
  width: 210px;
  z-index: 5;
  transform: scale(0.005);
  transition: all 1.25s ease-in-out;
  transition-delay: 0.75s;
}

.card {
  background-color: rgba(252, 253, 253, 0.33);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.zoom {
  display: block;
  transform: scale(1);
}

.card img {
  width: 170px;
  height: 80px;
  object-fit: cover;
  border: 4px inset rgb(126, 126, 126);
}

.card p {
  margin: 10px auto;
  width: 190px;
  background-color: rgba(252, 253, 253, 0.33);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* buttons for events and success & failure results */

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button-container button {
  border-radius: 4px;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  padding: 3px;
}

#button-container button:hover {
  cursor: pointer;
}

#accept {
  color: green;
}

#reject {
  color: red;
}

.success {
  box-shadow: 0 0 6px lime;
}

.success h3 {
  text-shadow: 0 0 3px lime;
}

.failure {
  box-shadow: 0 0 6px red;
}

.failure h3 {
  text-shadow: 0 0 3px red;
}

/* styling for font-awesome ship */

#player-ship {
  position: absolute;
  /* color: rgb(161, 161, 161);

  text-shadow: 0 0 1px whitesmoke; */
  transform: rotate(45deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

#player-ship img {
  width: 2rem;
}

/* nav coordinates for ship */

.nav-start {
  left: 50px;
  top: 50px;
}
.nav-one {
  top: 180px;
  left: 130px;
}

.nav-two {
  top: 55px;
  left: 295px;
}

.nav-three {
  top: 400px;
  left: 70px;
}

.nav-four {
  top: 420px;
  left: 250px;
}

.nav-five {
  top: 210px;
  left: 410px;
}

.nav-six {
  top: 140px;
  left: 660px;
}

.nav-seven {
  top: 380px;
  left: 525px;
}

.nav-eight {
  top: 560px;
  left: 655px;
}

.nav-nine {
  top: 385px;
  left: 835px;
}

.nav-ten {
  top: 115px;
  left: 860px;
}

.nav-goal {
  top: 570px;
  left: 890px;
}

/* game and player title */

#game-title {
  font-family: "Orbitron", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#player-title {
  font-family: "Orbitron", sans-serif;
  color: aliceblue;
  margin: 0 5px 40px 5px;
  text-align: center;
  letter-spacing: 0.2rem;
}

/* winning */

.winner {
  background-color: gold;
  border: 5px outset gold;
}

.winner img {
  border: 4px outset gold;
}

.zoom2 {
  display: block;
  transform: scale(1.5);
}
