body {
  width: 1366px;
  height: 768px;
  margin: auto;
}

header {
  height: 60px;
}

main {
  display: flex;
  flex-direction: inline-block;
}

#left-bar,
#right-bar {
  width: 203px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.main-logo {
  width: 150px;
  padding-left: 30px;
}

.side-bar {
  background-image: url(../img/nav_bar.png);
  background-repeat: repeat;
}

footer {
  height: 60px;
}

h3 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 5px;
}

h5 {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.03rem;
  margin: 0 0 10px 0;
}

.seperator {
  width: 100%;
  height: 5px;
  background-color: #2d1c3b;
  margin-bottom: 10px;
}

#green-span {
  color: green;
}

#yellow-span {
  color: yellow;
}

#orange-span {
  color: orange;
}

.line-divider {
  width: 100%;
  height: 5px;
  background-color: #2d1c3b;
  margin-bottom: 8px;
}

h3#score-title {
  font-size: 30px;
  letter-spacing: 0.2rem;
}

/* score on right bar */
.score-area {
  color: aliceblue;
  background-color: #201329;
  height: 490px;
  margin: 40px 15px 0 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 8px solid #2d1c3b;
}

#ship-status {
  margin: 0px 15px 10px 15px;
  background-color: #201329;
  border-radius: 5px;
  border: 8px solid #2d1c3b;
  box-sizing: border-box;
}

/* name entry form */

#form {
  z-index: 7;
  background-image: url(../img/nav_bar.png);
  background-repeat: repeat;
  border: 5px outset #2d1c3b;
  border-radius: 6px;
  color: #180d20;
}

#new-player-form {
  padding: 20px;
  text-align: center;
}

#new-player-form legend {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

#new-player-form label {
  font-size: 1.15rem;
  font-weight: bold;
}

#new-player-form input {
  margin: 12px auto;
}

#submit {
  background-color: #201329;
  padding: 3px;
  border-color: #2d1c3b;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  color: aliceblue;
}

/* The board */

#game-field {
  position: relative;
  background-image: url(../img/kai-pilger-Ef6iL87-vOA-unsplash.jpg); /* Photo by Kai Pilger on Unsplash */
  background-repeat: no-repeat;
  overflow: hidden;
  width: 960px;
  height: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#start-space {
  position: absolute;
  background-image: url(../img/locations/padure-start.png);
  background-size: 200px 200px;
  opacity: 0.33;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: -100px;
  left: -100px;
}

#finish-space {
  position: absolute;
  background-image: url(../img/locations/goal.png);
  background-size: 200px 200px;
  opacity: 0.7;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: -100px;
  right: -100px;
}

/* the planets (not by Holst) */

.planet {
  position: absolute;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  transition: 1.25s;
  transition-delay: 0.5s;
  z-index: 4;
}

#world-one {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/krcmarek-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.one {
  transform: translate(-320px, -100px) scale(0.05);
  z-index: 1;
}

#world-two {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/kato-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.two {
  transform: translate(-140px, -260px) scale(0.05);
  z-index: 1;
}

#world-three {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/planet-test.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.three {
  transform: translate(-400px, 120px) scale(0.05);
  z-index: 1;
}

#world-four {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/czerwinski1-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.four {
  transform: translate(-220px, 140px) scale(0.05);
  z-index: 1;
}

#world-five {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/olah-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.five {
  transform: translate(-20px, -100px) scale(0.05);
  z-index: 1;
}

#world-six {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/duck-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.six {
  transform: translate(220px, -180px) scale(0.05);
  z-index: 1;
}

#world-seven {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/olah2-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.seven {
  transform: translate(60px, 100px) scale(0.05);
  z-index: 1;
}

#world-eight {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/baranyai-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.eight {
  transform: translate(200px, 280px) scale(0.05);
  z-index: 1;
}

#world-nine {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/czerwinski2-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.nine {
  transform: translate(400px, 80px) scale(0.05);
  z-index: 1;
}

#world-ten {
  height: 360px;
  width: 360px;
  background-image: url(../img/locations/czerwinski3-planet.png);
  background-size: 360px 360px;
  border-radius: 50%;
}

.ten {
  transform: translate(420px, -200px) scale(0.05);
  z-index: 1;
}

/* navigation choice halos */

.easy-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px lime;
}

.med-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px yellow;
}

.hard-choice {
  border: 12px solid black;
  box-shadow: 0 0 60px 120px orangered;
}

.final-choice {
  border: 1px solid black;
  box-shadow: 0 0 8px 10px rgb(155, 214, 238);
}

/* event card styling */

.card-container {
  position: absolute;
  height: 260px;
  width: 210px;
  z-index: 5;
  transform: scale(0.005);
  transition: all 1.25s ease-in-out;
  transition-delay: 0.75s;
}

.card {
  background-color: rgba(252, 253, 253, 0.4);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.zoom {
  display: block;
  transform: scale(1);
}

.card img {
  width: 170px;
  height: 80px;
  object-fit: cover;
  border: 4px inset rgb(126, 126, 126);
}

.card p {
  margin: 10px auto;
  width: 190px;
  background-color: rgba(252, 253, 253, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* buttons for events and success & failure results */

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button-container button {
  border-radius: 4px;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  padding: 3px;
}

#button-container button:hover {
  cursor: pointer;
}

#accept {
  color: green;
}

#reject {
  color: red;
}

.success {
  box-shadow: 0 0 6px lime;
}

.success h3 {
  text-shadow: 0 0 3px lime;
}

.failure {
  box-shadow: 0 0 6px red;
}

.failure h3 {
  text-shadow: 0 0 3px red;
}

.vanish {
  display: none;
}

/* styling for player ship */

#player-ship {
  position: absolute;
  /* transform: rotate(45deg); */
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

#player-ship img {
  width: 2rem;
}

/* nav coordinates for ship */

.nav-start {
  left: 50px;
  top: 50px;
  transform: rotate(45deg);
}
.nav-one {
  top: 180px;
  left: 130px;
  transform: rotate(45deg);
}

.nav-two {
  top: 55px;
  left: 295px;
  transform: rotate(-10deg);
}

.nav-three {
  top: 400px;
  left: 70px;
  transform: rotate(60deg);
}

.nav-four {
  top: 420px;
  left: 250px;
  transform: rotate(-5deg);
}

.nav-five {
  top: 210px;
  left: 410px;
  transform: rotate(60deg);
}

.nav-six {
  top: 140px;
  left: 660px;
  transform: rotate(15deg);
}

.nav-seven {
  top: 380px;
  left: 525px;
  transform: rotate(20deg);
}

.nav-eight {
  top: 560px;
  left: 655px;
}

.nav-nine {
  top: 385px;
  left: 835px;
  transform: rotate(95deg);
}

.nav-ten {
  top: 115px;
  left: 860px;
  transform: rotate(70deg);
}

.nav-goal {
  top: 570px;
  left: 890px;
  transform: rotate(45deg);
}

/* game and player title */

#game-title {
  font-family: "Orbitron", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#player-title {
  font-family: "Orbitron", sans-serif;
  color: aliceblue;
  margin: 0 5px 40px 5px;
  text-align: center;
  letter-spacing: 0.15rem;
}

/* ending game */

.winner {
  background-color: gold;
  border: 5px outset gold;
}

.winner img {
  border: 4px outset gold;
}

.loser {
  background-color: black;
  border: 5px outset black;
  color: red;
}

.zoom2 {
  display: block;
  transform: scale(1.5);
}

header {
  text-align: center;
}

#sound {
  opacity: 0.1;
  transform: translateY(10px) scale(0.7);
}
