
html{
  font-size:25px;
  font-family: 'novecento_sans_widebold';
}


html,body{
  height: 100%;
}

h2{
  font-family: 'novecento_sans_widebold';
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p{
  font-family: 'novecento_sans_widebook';
  line-height: 1.5rem;
}



  /* ------------------ nav ------------------*/

.nav-wrapper{
  background-color: #3f2a50;
  background-color: #3f2a50;
  height: 90px;
  width: 100%;
  background-image: url('../img/nav_bar.png');
}


.logo-wrapper{
  
  
  margin: -63px auto 0 auto;
  width: 186px;
}

.main-logo{

  width: 100%;
  height: 100%;
}

  /* ----- main ---------*/

main{
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: auto;
}

#myVideo {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.color-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(52, 15, 80);
  background: linear-gradient(171deg, rgb(21, 3, 34) 0%, rgb(2, 1, 26) 100%);
  mix-blend-mode: color;
}



/* ----- Planets ---------*/


img#left-planet{
  top: 25vh;
  left: 0px;
  position: absolute;
  z-index: 8;
}

img#right-planet{
  top: 60vh;
  right: 0px;
  position: absolute;
  z-index: 8;
}

.game-button-wrapper{
  min-height: 100%;
}


.game-menu-frame{
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}



.button1:hover {
  color: #349a87;
  box-shadow:
    0 0 .5px .5px #fff,  
    0 0 3px 3px #83f3df, 
    0 0 10px 10px #349a87;  
}





.button1{
  display:inline-block;
  border-radius:5px;
  padding: 15px 0;
  margin-bottom:10px;
  background-color:#291536;
  color:whitesmoke;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.button{

  display:inline-block;
  border-radius:5px;
  padding: 15px 0;
  
  background-color:#0c0213;
  color:whitesmoke;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}



.game-menu-frame{
  padding: 5% 20px 0 20px;
  max-width: 800px;
}






/* -----The Modal background ----- */
.modal {
  display: none; 
  position: fixed; 
  z-index: 50; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* ----Modal Content----- */
.modal-content {
  background-color: #251631;
  margin: 20% auto 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 20px solid #3f2a50;
  width: 80%;
  height: auto;
  color: #aaa;
  box-sizing: border-box;
  text-align: left;
}

.modal-header {
  padding: 2px 16px;
  color: white;
  font-size: 40px;
}



.modal-body {
  padding: 2px 16px;
}


/* leaderboard Modal */

.leaderboard-table{
  height: 100%;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
}


/* leader board table*/

table{
  margin: auto;
  font-size: 40px;
  padding: 20px 10px;
}

#leaderboard-list tr th{
  width: 100%;
  background-color: #170d1f;
  color: #349a87;
  text-align: left;
  margin: 0px;
  text-transform: lowercase;
}

th{
  padding: 20px 20px 20px 20px;
}

#leaderboard-list tr{
  border-bottom: 1px solid #170d1f ;
  padding: 20px 10px;
}

td {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  padding-left: 20px;   
}



#leaderboard-list tr:nth-last-of-type(odd){
  background-color: #2d1c3b;
}

#leaderboard-list tr:last-of-type{
  border-bottom: 10px solid #170d1f;
}

/* about us modal */




.about-section{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px; 
  margin: 20px auto 20px auto;
  
}

@media screen and (max-width: 1200px) {
  .about-section{

    display: grid;
    grid-template-columns: 1fr;
    max-width: auto;
    margin: 20px auto 5% auto;

    
  }

  
  .first-image{ 
    width: auto;
    height: 300px;
    background-position: bottom; 
  

  }
  .second-image{ 
    width: auto;
    height: 300px;
    background-position: bottom; 
  

  }
  .third-image{ 
    width: auto;
    height: 300px;
    
    background-position: center; 
    background-repeat: no-repeat;  
  

  }
}



#creators-section .about-section {
 
  padding: 6%;
  margin-top: 20px;
  

}



.first-image{ 
  min-height: 500px;
  background-image: url('../img/james_gerstenberger_pic.jpg');
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.second-image{ 
  min-height: 500px;
  background-image: url('../img/william_monreno_pic.jpg');
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.third-image{ 
  min-height: 500px;
  background-image: url('../img/tek_jones_pic.jpg');
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: cover;
}


div#welcome {
  font-size: 22px;
  line-height: 2rem;
  max-width: 500px;
  padding:  0 30px 0 30px;
  margin: auto;
}



/* The Close Button */
.close {
  color: #83f3df;
  float: right;
  font-size: 48px;
  line-height: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button leaderBoard */
.closeA {
  color: #83f3df;
  float: right;
  font-size: 48px;
  line-height: 25px;
  font-weight: bold;
}

.closeA:hover,
.closeA:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button About */
.closeB {
  color: #83f3df;
  float: right;
  font-size: 48px;
  line-height: 25px;
  font-weight: bold;
}

.closeB:hover,
.closeB:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.git-logo-wrapper{
  padding-top: 2rem;
  margin: auto;
  width: 280px;
  color: aliceblue;
  font-size: 16px;
  font-family: 'novecento_sans_widebook';
  text-transform: uppercase;
}

div.git-logo-wrapper img{
  margin: 1rem auto 2rem auto;
  width: 100px;
}


/* ----- footer ---------*/

div.footer-wrapper{
  background-color: #3f2a50;
  height: 90px;
  width: 100%;
  background-image: url('../img/nav_bar.png');
}


